.navBar {
    width: 100%;
    background-color: grey;
    margin: 0 auto;
}

.title {
    color: white;
    padding-top: 10px;
}


.buttonHolder {
    padding: 10px;
    float: right;
}

.logo {
    height: 100px;
    width: 100px;
    padding: 5px;
}

.header {
    background: grey;
}

.header::after {
    content: '';
    display: table;
    clear: both;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    display: inline-block;
    margin-left: 50px;
    padding-top: 20px;
    position: relative;
    cursor: default;
}

.buttonHolder p::before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: black;
    position: absolute;
    bottom: 0;
    transition: all ease-in-out 250ms;
}

.buttonHolder p:hover::before {
    width: 100%;
}

